<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <PublishProtocol>FTP</PublishProtocol>
    <PublishUrl>ftp://ftp.yourdomain.com/httpdocs/moderndotnettest</PublishUrl>
    <UserName>d99joper</UserName>
    <Password></Password>
    <SiteUrlToLaunchAfterPublish></SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>acb165dd-7a3a-4f92-8664-f24a06793c56</ProjectGuid>
    <RuntimeIdentifier>win-x86</RuntimeIdentifier>
    <SelfContained>true</SelfContained>
    <DeleteExistingFiles>false</DeleteExistingFiles>
    <Configuration>Release</Configuration>
    <TargetFramework>net8.0</TargetFramework>
    <PublishSingleFile>false</PublishSingleFile>
  </PropertyGroup>
</Project>