<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <add key="EnableNewEntries" value="Off" />
  </appSettings>
  <connectionStrings>
    <add name="VMTipsetConnectionString" connectionString="Data Source=P3NWPLSK12SQL-v13.shr.prod.phx3.secureserver.net; Initial Catalog=pslive1; User ID=pslive1; Password=Mas+moz1;" />
    <add name="PSConnString" connectionString="Data Source=P3NWPLSK12SQL-v13.shr.prod.phx3.secureserver.net; Initial Catalog=pslive1; User ID=pslive1; Password=Mas+moz1;" />
    <add name="pslive1ConnectionString" connectionString="Data Source=P3NWPLSK12SQL-v13.shr.prod.phx3.secureserver.net;Initial Catalog=pslive1;User ID=pslive1;Password=Mas+moz1" providerName="System.Data.SqlClient" />
    <add name="VMTips_EntitiesConnectionString" connectionString="metadata=res://*/Models.Tips.csdl|res://*/Models.Tips.ssdl|res://*/Models.Tips.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=P3NWPLSK12SQL-v13.shr.prod.phx3.secureserver.net;initial catalog=pslive1;persist security info=True;user id=pslive1;password=Mas+moz1;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="VMTips_Entities" connectionString="metadata=res://*/Models.Tips.csdl|res://*/Models.Tips.ssdl|res://*/Models.Tips.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=P3NWPLSK12SQL-v13.shr.prod.phx3.secureserver.net;initial catalog=pslive1;persist security info=True;user id=pslive1;password=Mas+moz1;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Tips_Entities" connectionString="metadata=res://*/Models.Tips.csdl|res://*/Models.Tips.ssdl|res://*/Models.Tips.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=P3NWPLSK12SQL-v13.shr.prod.phx3.secureserver.net;initial catalog=pslive1;persist security info=True;user id=pslive1;password=Mas+moz1;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web><trust level="Full" originUrl="" />
    <machineKey validationKey="A01926BEF72A472689BB79AA5DA614F6E82206BB69B8CD75D0238EED4037C8D56BB423AE910241AADB0C52FE27474530FDF3113285FE69B7CF45F4606F17C712" decryptionKey="700340AA7CCE2AF5422484B8B903863D2A0F37100231802A" validation="SHA1" />
    <customErrors mode="Off" />
    <httpRuntime requestValidationMode="2.0" />
    <authentication mode="Forms">
      <forms name="appNameAuth" path="/" loginUrl="admin/login.aspx" protection="All" timeout="30" defaultUrl="~/admin">
        <credentials passwordFormat="Clear">
          <user name="jonas" password="test" />
          <user name="mange" password="televinken" />
        </credentials>
      </forms>
    </authentication>
    <globalization culture="sv-SE" uiCulture="sv-SE" />
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <!--add assembly="System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/-->
        <!--add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/ -->
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <httpHandlers>
      <!--add path="ChartImg.axd" verb="GET,HEAD" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/-->
    </httpHandlers>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <httpErrors errorMode="Detailed" />
    <asp scriptErrorSentToBrowser="true" />
    <handlers>
      <!--add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" /-->
    </handlers>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>