@{
    ViewBag.Title = "Inväntar bekräftelse";
}

<h4>Din kupong är ett steg från att bli skickad till Magnus.</h4>

<p>För att undvika spam, och att kuponger eventuellt skickas under falskt namn,
    krävs ännu ett steg för att din kupong ska registreras.</p>

<p>Ett mail har skickats till den e-postadress du angav.</p>

<p>För att bekräfta din kupong, klicka helt enkelt på länken i mailet.</p>
